<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :person_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :person_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :unit_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scheduled_start, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :scheduled_start, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scheduled_end, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :scheduled_end, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :actual_start, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :actual_start, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :actual_end, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :actual_end, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
