<%= form_for @aptitude, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :person_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :person_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skill_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :skill_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :level, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                aptitudes_path, :class => 'btn' %>
  </div>
<% end %>
