<%= form_for @deployment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :city_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :city_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :team_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :end_time, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deployments_path, :class => 'btn' %>
  </div>
<% end %>
